@import './base.css';

#app {
  padding: 0o auto;
  margin: 0 auto;
  overflow-x: hidden;
}



@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
